.App {
  background-color: black;
  background-size: cover;
  min-height: 100vh;
  text-align: center;
}

.main-title {
  color: aliceblue;
  font-family: cursive;
  font-size: 45px;
}

.developer {
  text-decoration: none;
  color: aqua;
  font-family: cursive;
  font-size: 25px;
  padding: 10px;
}

.para{
  color:white;
  font-family: Roboto;
  font-size:30px;
}
